/* PHASE 4: Footer */

.footer {
  width: 900px;
  background-color: white;
  border: 1px solid #ccc;
  border-top: 0;
  margin: auto;
  color: #aaa;
  font-size: 14px;
}

.footer-copy {
  float: left;
  margin: 20px;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
}

.footer a {
  margin-right: 20px;
  margin-top: 20px;
  display: block;
}

.footer a:hover {
  color: black;
}
